@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Fira+Code:wght@500&display=swap");

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #e2e8f0;
}

.container {
  max-width: 800px;
  margin: 25px auto;
  padding: 25px 30px;
  background-color: #1e293b;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  border: 1px solid #334155;
}

header {
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

header h1 {
  font-size: 2.8em;
  font-weight: 700;
  margin: 0.2em 0;
  background: linear-gradient(90deg, #c084fc, #8b5cf6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

header p {
  font-size: 1.2em;
  color: #94a3b8;
  margin-top: 5px;
  font-weight: 300;
}

section {
  margin-bottom: 35px;
  padding-bottom: 25px;
  border-bottom: 1px solid #334155;
}


main section:last-of-type {
  border-bottom: none;
}

h2 {
  font-size: 2.1em;
  color: #c084fc; 
  padding-bottom: 10px;
  margin-top: 10px;
}

h3 {
  font-size: 1.6em;
  color: #a78bfa; 
  margin-top: 30px;
}

p,
li {
  font-size: 1.1em;
  text-align: justify;
  color: #e2e8f0;
}

.formula-box {
  background-color: #0f172a; 
  padding: 20px;
  border-radius: 8px;
  margin: 20px 0;
  font-family: "Fira Code", "Courier New", monospace;
  text-align: center;
  font-size: 1.25em;
  color: #f0f9ff;
  border: 1px solid #8b5cf6;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0);
}
